@keyframes changeColor {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  .chColor {
    margin-left: 0.6em;
    padding: 0.5em;
    border-radius: 20px;
    background-color:coral;
    text-align: center;
  }

  .chColor:hover {
    
    background-color: rgb(235, 194, 84);
   
    animation: changeColor 3s infinite linear;
}



